.matCard {
  height: 100%;
  display: flex;
  width: 100%;
  border: 1px solid #d5dbdb;
  margin: 10px;
  cursor: pointer;
}
.image {
  height: 350px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_button {
  background: #ffcf56;
  width: 200px;
  border: 1px solid #e6a400;
  color: #ffcf56;
  text-shadow: 0 1px 0 #ffe093;
  text-align: center;
  padding: 5px 0px;
  border-radius: 5px;
  margin: 10px;
  font-weight: 700;
  color: #0f1111;
}

.card_button:hover {
  background: #ff9933;
  color: white;
}
p.discount {
  color: red;
  font-size: 20px;
  margin-left: 10px;
}
p.price {
  font-size: 25px;
  font-weight: bold;
  /* color: #0F1111; */
}
.filterTitle {
  display: flex;
  justify-content: space-between;
}
