<div class="row">
  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card
      class="mat-mdc-card mdc-card bg-mono-primary shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>

  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card class="mat-mdc-card mdc-card bg-mono2 shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>

  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card
      class="mat-mdc-card mdc-card bg-lightmono3 shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>

  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card class="mat-mdc-card mdc-card bg-mono4 shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>

  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card class="mat-mdc-card mdc-card bg-mono2 shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>

  <div class="col-sm-4 col-6 ng-star-inserted">
    <mat-card class="mat-mdc-card mdc-card bg-mono4 shadow-none text-center"
      ><mat-card-content class="mat-mdc-card-content p-32"
        ><img
          alt="users"
          width="40"
          class="rounded-circle"
          src="https://modernize-angular-dark.netlify.app/assets/images/svgs/icon-user-male.svg"
        />
        <h4 class="f-w-600 m-t-8">Employees</h4>
        <h6 class="f-w-600 m-t-4 m-t-8">96</h6></mat-card-content
      ></mat-card
    >
  </div>
</div>
