<!-- Header starts here -->

<header class="header">
  <div class="grid_container">
    <div class="brand">
      <img
        src="assets/images/white-amazon.webp"
        alt="amazon logo"
        class="Brand-img"
      />
    </div>
    <div class="location">
      <div class="icon">
        <i class="bx bx-location-plus"></i>
      </div>
      <div class="icon-text">
        <p class="location-text">
          <span class="loc-txt">Deliver to</span><br />India
        </p>
      </div>
    </div>
    <div class="nav-center">
      <div class="nav-fill">
        <select name="Amazon" id="selector">
          <option value="All">All</option>
          <option value="IT">IT</option>
          <option value="Fashion">Fashion</option>
          <option value="Books">Books</option>
        </select>
      </div>

      <div class="search-container">
        <form>
          <input type="search" placeholder="Search" name="search" />
        </form>
      </div>
      <div class="search">
        <button mat-icon-button class="btnsearch">
          <!-- <mat-icon>search</mat-icon> -->
          <!-- <img src="/assets/images/se.png" alt="search" /> -->
          <i class="bx bx-search-alt-2"></i>
        </button>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-flag">
        <img src="/assets/images/Flag_of_India.svg" alt="flag" class="flag" />

        <select name="Amazon" id="selector1">
          <option value="Flag_of_India"></option>
          <option value="English">English</option>
          <option value="Hindi">Hindi</option>
          <option value="Telugu">Telugu</option>
          <option value="Tamil">Tamil</option>
        </select>
      </div>

      <div class="dropdown">
        <a
          href="#"
          class="d-flex align-items-center text-decoration-none dropdown-toggle"
          style="color: white"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <p class="hello_text">
            <span class="hello-txt"> Hello, Signin</span><br />Accounts & Lists
          </p>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <div class="signBox">
            <button class="card_button">Sign in securely</button>
            <p>New Customer? <a routerLink="/login">Start here</a></p>
          </div>
        </ul>
      </div>
      <div class="orders">
        <p class="hello_text">
          <span class="hello-txt"> Returns</span><br />
          & Orders
        </p>
      </div>
      <div class="cart">
        <div class="cart_icon">
          <i class="bx bx-cart"></i>
        </div>
        <h2 class="cart_head">Cart</h2>
      </div>
    </div>
  </div>
</header>

<!-- nav bar here second header -->
<nav class="nav_bar">
  <div class="menu_icon">
    <i class="bx bx-menu"></i>All
    <!-- <p class="menu_text">All</p> -->
  </div>
  <div class="menu_lists">
    <a href="#" class="menu_link" routerLink="/products">Today's Deals</a>
    <a href="#" class="menu_link">Customer Service</a>
    <a href="#" class="menu_link">Registry</a>
    <a href="#" class="menu_link">Gifts Cards</a>
    <a href="#" class="menu_link">Sell </a>
  </div>
  <div class="menu_last_link">
    <a href="#" class="menu_last">Shop Father's Day Gifts</a>
  </div>
</nav>
