.productsTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.col-2 {
  justify-content: space-between;
}
.filterTitle {
  display: flex;
  justify-content: space-between;
}
.productPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
