<div class="brand">
  <img
    src="assets/images/amazon-black.png"
    alt="amazon logo"
    class="Brand-img"
  />
</div>

<div class="auth-portal">
  <div class="card">
    <h2 class="title">Create an Account</h2>
    <div class="content">
      <form
        class="example-form"
        [formGroup]="registerForm"
        (ngSubmit)="proceedRegister()"
      >
        <div class="form-group">
          <label for="username">Username</label>
          <input matInput type="text" formControlName="id" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input matInput type="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input matInput type="password" formControlName="password" />
        </div>

        <div class="form-group">
          <label for="userType">User Type</label>
          <select formControlName="userType" class="form-control">
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <button type="submit" class="card_button">Continue</button>

        <div class="textt">
          By continuing, you agree to Amazon's
          <a href=""> Conditions of Use</a> and
          <a href="">Privacy Notice.</a>
        </div>

        <mat-divider></mat-divider>

        <div class="shop">
          <p>Already have an Account</p>
          <a routerLink="/login">Login Now</a>
        </div>
      </form>
    </div>
  </div>
</div>
