<app-header></app-header>

<div class="cart">
  <div class="containers">
    <div class="row justify-content-center">
      <div class="col-sm-6 whiteBox">
        <div class="cartDetails">
          <h3 class="title">Shopping Cart</h3>
          <mat-divider></mat-divider>
          <div class="row cartItem mt-3">
            <div class="col-sm-4">
              <div class="cartproduct">
                <img src="/assets/images/f1.jpg" alt="image" />
              </div>
            </div>
            <div class="col-sm-8">
              <div class="cartInfo">
                <h2 class="productTitle">Product Title</h2>
                <p>Sold by : <a class="brand"> Brand</a></p>
                <p>
                  <img src="/assets/images/prodslide2.png" />
                  Amazon Delivered
                </p>
                <p>Size : S</p>
                <p>Color : Yellow</p>
                <p>
                  Quantity :
                  <select name="Size" id="sizeBox">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                  </select>
                </p>

                <button class="buyBtn">Delete</button>
              </div>
              <mat-divider></mat-divider>

              <div class="price">
                <p>SubTotal (1 Item) :<b>Rs 899</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 whiteBox">
        <div class="price">
          <p>SubTotal (1 Item) :<b>Rs 899</b></p>
        </div>
        <button class="card_button">Proceed to Buy</button>
      </div>
    </div>
  </div>
</div>
