<app-header></app-header>

<div class="cart">
  <div class="containers">
    <div class="row justify-content-center">
      <div class="col-sm-6 whiteBox">
        <div class="cartDetails">
          <h3 class="title">Shopping Cart</h3>
          <mat-divider></mat-divider>
          <div class="row cartItem mt-3" *ngFor="let item of cartData">
            <div class="col-sm-4">
              <div class="cartproduct">
                <!-- <img src="/assets/images/f1.jpg" alt="image" /> -->
                <img [src]="item?.product.imageUrl" alt="ProductImage" />
              </div>
            </div>
            <div class="col-sm-8">
              <div class="cartInfo">
                <h2 class="productTitle">{{ item.product.title }}</h2>
                <p>
                  Sold by : <a class="brand"> {{ item.product.brand }}</a>
                </p>
                <p>
                  <img src="/assets/images/prodslide2.png" />
                  Amazon Delivered
                </p>
                <p>Size : {{ item.product.size }}</p>
                <p>Color : {{ item.product.colors }}</p>
                <p>Quantity : {{ item.purchaseQuantity }}</p>

                <button class="buyBtn" (click)="remove(item)">Delete</button>
              </div>
              <mat-divider></mat-divider>

              <div class="price">
                <p>
                  Product Price :<b> {{ item.product.price }}</b>
                  <!-- <p>Total Price: {{ getTotalPrice(product.id, product.quantity) }}</p> -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 whiteBox subTotal" *ngFor="let item of cartData">
        <div class="price">
          <p>
            SubTotal ({{ item.purchaseQuantity }} Item) :<b>{{
              calculateQuantity()
            }}</b>
          </p>
        </div>
        <button class="card_button" routerLink="/checkout">
          Proceed to Buy
        </button>
      </div>
    </div>
  </div>
</div>
