<body id="body-pd">
  <header class="header" id="header">
    <div class="header_toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <div class="header_img">
      <img
        src="https://modernize-angular-dark.netlify.app/assets/images/profile/user-1.jpg"
        alt=""
        (click)="toggleMenu($event)"
        [matMenuTriggerFor]="menu"
      />

      <!-- <button mat-icon-button >
        <mat-icon>more_vert</mat-icon>
      </button> -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item routerLink="/login">Sign Out</button>
      </mat-menu>
    </div>
  </header>

  <!-- //sidebar -->

  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <i class="bx bxl-amazon"></i>
          <span class="nav_logo-name">Amazon</span>
        </a>
        <div class="nav_list">
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/layout"
            routerLinkActive="active"
          >
            <i class="bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Dashboard</span>
          </a>
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/users"
            routerLinkActive="active"
          >
            <i class="bx bx-user nav_icon"></i>
            <span class="nav_name">Users</span>
          </a>
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/addproduct"
            routerLinkActive="active"
          >
            <i class="bx bxs-package"></i>
            <span class="nav_name">Products</span>
          </a>
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/orders"
            routerLinkActive="active"
          >
            <i class="bx bx-receipt"></i> <span class="nav_name">Orders</span>
          </a>
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/customers"
            routerLinkActive="active"
          >
            <i class="bx bx-user-pin"></i>
            <span class="nav_name">Customers</span>
          </a>
          <a
            href="#"
            class="nav_link"
            routerLink="/dashboard/stats"
            routerLinkActive="active"
          >
            <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
            <span class="nav_name">Stats</span>
          </a>
        </div>
      </div>
      <a href="#" class="nav_link">
        <i class="bx bx-log-out nav_icon"></i>
        <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>
  <!--Container Main start-->

  <div class="height-100 bg-light">
    <router-outlet></router-outlet>
  </div>

  <!--Container Main end-->
</body>
